* {
    margin: 0;
    padding: 0;
}
/* para llamar objetos simples es sin "." ni "#"
Para llamar clases se usa "." y para llamar IDs se usa "#"*/
body {
    background-color:#ffffff;
}

.Logo00{
    display: flex;
    align-items: center;
    background-color:#ffffff;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 20;
    animation: Logo00 3s forwards;
}

#aspas {
  filter: contrast(65%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 32%;
  margin: auto;
  z-index: 21;
  -webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center,girar00 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation-iteration-count: 1;
}

#circulo {
  filter: contrast(65%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  margin: auto;
  z-index: 21;
  -webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation-iteration-count: 1;
  
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    66% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 100%;
    }
    100%{
      opacity: 0%;
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    66% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 100%;
    }
    100%{
      opacity: 0%;
    }
  }

  @keyframes girar00 {
    0%{
      transform: rotate(0deg);
    }
    66%{
      transform: rotate(360deg);
      opacity: 100%;
    }
    100%{
      opacity: 0%;
    }
  }
  
  
  @keyframes Logo00 {
    0%{
      opacity: 100%;
    }
    66%{
      opacity: 100%;
    }
    100%{
      opacity: 0%;
    }
  }
